<div class="row">
  <div class="col-md-4 tasks-column">
    <h2>Todo</h2>
    <%= render @todo %>
  </div>

  <div class="col-md-4 tasks-column">
    <h2>Doing</h2>
    <%= render @doing %>
  </div>

  <div class="col-md-4 tasks-column">
    <h2>Done</h2>
    <%= render @done %>
  </div>
</div>





